<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>xterm -e python</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Vim"> <action name="Execute">
                <execute>xterm -e vim</execute>
            </action> </item>
        </menu>
        
        <menu id="7" label="Multimedia">
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Qt V4L2 video capture utility"> <action name="Execute">
                <execute>qvidcap</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="TkVNC"> <action name="Execute">
                <execute>xterm -e tkvnc</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Alacritty"> <action name="Execute">
                <execute>alacritty</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>xterm -e git</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="LightDM GTK+ Greeter settings"> <action name="Execute">
                        <execute>lightdm-gtk-greeter-settings-pkexec</execute>
                    </action> </item>
                </menu>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e pstree.x11</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e pstree</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e /usr/bin/pstree.x11</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>xterm -e top</execute>
            </action> </item>
            <item label="Xkill"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
            <item label="Xrefresh"> <action name="Execute">
                <execute>xrefresh</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="compton"> <action name="Execute">
                <execute>compton</execute>
            </action> </item>
            <item label="picom"> <action name="Execute">
                <execute>picom</execute>
            </action> </item>
            <item label="Xsetroot"> <action name="Execute">
                <execute>xsetroot</execute>
            </action> </item>
        </menu>
	<separator/>
	<menu execute="/home/cf/.config/obdevicemenu/obdevicemenu" id="devices" label="Devices"/>
	<seperator/>
	<menu id="40" label="Openbox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
